.main .articles {
	width: 68.5%;
	margin-right: 1.5%;
	float: left;
	

}

aside {
	width:30%;
	
	float: left;
}

.footer {
	text-align: center;
}

.div_class {
	background: #101010;
	padding-top: 20px;
}

.img_class {
	vertical-align: center;
}

.color_login {
	color: white;
}

.button_padding{
	margin-top: 15px;
}